.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.FolderList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 12rem;
}

.FolderItem {
  border: 1px black solid;
  padding: 1px 20px 1px 20px;
}

.MainSection {
  margin-left: 10rem;
  text-align: left;
}

.SingleNote {
  border: 1px black solid;
  padding: 10px;
  margin: 5px;
}

.Header {
  border-bottom: 1px black solid;
  padding: 5% 30% 5% 10%;
}